.usersWrapper {
    margin: 20px;

}

.userPhoto {
    width: 150px;
    height: 100px;

}

.selectedPage {
    font-weight: bold;
}

.usersBlock {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.user {
    margin: 30px 10px;
    width: 20%;
}