@import "src/common/styles/mixins/mixins";
@import "src/common/styles/variables/variables";


.wrapper {
  padding: 10px;
  display: flex;
  gap: 10px;


  .wrapper_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include borderBlock;
    width: 100%;
  }


}








