.app-wrapper {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-direction:column;
    min-height: 80vh;
}

.app-wrapper-content {
    min-height: 92vh;
    background-color: #F8F8F8;
}





