.loginForm {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.emailBlock {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.emailLabel {
    min-width: 100px;
}

.passwordBlock {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.passwordLabel {
    min-width: 100px;
}

.rememberMeBlock {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.submitBtn {
    max-width: 100px;
    align-self: center;
}